.badge {
  display: block;
}

.badge--c {
  background-color: #2e97b8;
}

.badge--cs {
  background-color: #2e55b8;
}

.badge--d {
  background-color: #f9e324;
}

.badge--ds {
  background-color: #f69f1c;
}

.badge--e {
  background-color: #089a5d;
}

.badge--f {
  background-color: #d23e0f;
}

.badge--fs {
  background-color: #a6523b;
}

.badge--g {
  background-color: #940fd2;
}

.badge--gs {
  background-color: #660096;
}

.badge--a {
  background-color: #f25959;
}

.badge--as {
  background-color: #2e97b8;
}

.badge--b {
  background-color: #55d5fe;
}
