.playlist {
  width: 1440px;
  height: 100px;
  margin: 0 auto;
  @include outline(green);
  padding-left: 20px;
  padding-right: 20px;
}

.playlist__songs {
  display: block;
  width: 675px;
  height: 100px;
  @include outline(tomato);
}

.playlist__mood {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;
}

.playlist__tone {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  width: 41px;
  height: 28px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
